{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>  
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '일반', true) }}
    {{ macros.m_tab_head('etc', 'API', false) }}
    {{ macros.m_tab_head('auto', '자동 & 기타', false) }}
  {{ macros.m_tab_head_end() }}
</nav> 


<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
  {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_text_and_buttons('base_data_filename', 'Date File', [['read_data_btn', 'View']], value=arg['base_data_filename'], desc=['HDHomerun Scan 툴에서 생성한 파일 위치.']) }}
    {{ macros.setting_input_textarea('base_group_sort', '그룹 정렬 순서', value=arg['base_group_sort'], desc=['그룹별 정렬 순서']) }}
    <!--{{ macros.setting_input_textarea('trans_option', '트랜스코딩 옵션', value=arg['trans_option'], desc=None) }}-->
    {{ macros.setting_checkbox('base_attach_mpeg_ext', '.mpeg 붙이기', value=arg['base_attach_mpeg_ext'], desc=['최신 펌웨어부터는 .mpeg 확장자가 있으면 안됨.', 'On : 구형 펌웨어', 'Off : 최신 펌웨어']) }}
    {{ macros.setting_input_text('base_tuner_name', '튜너 이름', value=arg['base_tuner_name'], desc=['auto 인 경우 자동선택. 특정 튜너만 동작시킬 경우 tuner01, tuner02 와 같이 입력']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('base_deviceid', 'IP', [['ip_fix_btn', 'IP 변경']], value=arg['base_deviceid']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_textarea('base_trans_option', '트랜스코딩 명령', value=arg['base_trans_option'], row='3', desc=['HDHomerun play 주소 = {URL}']) }}
    {{ macros.setting_input_text_and_buttons('base_program_cmd', 'LOCAL PROGRAM', [['base_program_cmd_btn', '실행']], value=arg['base_program_cmd'], desc=['FF 설치된 곳에서 실행', 'C:\Program Files\DAUM\PotPlayer\PotPlayer64.exe', 'C:\Program Files\VideoLAN\VLC\vlc.exe', 'C:\Program Files\Kodi\kodi.exe']) }}
    {{ macros.setting_input_text('base_user_link', '사용자 링크', value=arg['base_user_link'], desc=['앱 실행 링크. {URL} {TRANS} 가능', 'nplayer-{TRANS}']) }}

  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('etc', false) }}
    {{ macros.info_text_go_buttons('m3u', 'M3U', [['m3u_make_btn','새로고침']], value=arg['m3u'], desc=['HDHomerun 채널에 대한 M3U']) }}
    {{ macros.info_text_go('m3u_trans', 'M3U 트랜스코딩', value=arg['m3u_trans'], desc=['HDHomerun 채널에 대한 M3U. 트랜스코딩']) }}
    {{ macros.info_text_go('xmltv', 'XMLTV', value=arg['xmltv'], desc=['HDHomerun EPG']) }}
    {{ macros.info_text_go('proxy', 'PLEX DVR', value=arg['proxy'], desc=['PLEX DVR']) }}
  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('auto', false) }}
    {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
    {{ macros.setting_input_text('base_interval', '스케쥴링 실행 정보', value=arg['base_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('base_auto_start', '시작시 자동실행', value=arg['base_auto_start'], desc=['On : 시작시 자동으로 스케쥴러에 등록됩니다.', 'm3u 파일생성. 현재 방송 찾기']) }}
    {{ macros.m_hr() }}

    {{ macros.setting_buttons([['pro_scan_btn', '스캔 프로그램 실행'], ['pro_config_btn', 'HDHomerun Config 실행']], left="프로그램 실행") }}
  {{ macros.m_tab_content_end() }}
</div><!--tab-content-->
</form>

<script type="text/javascript">

$(document).ready(function(){
});

$("body").on('click', '#read_data_btn', function(e){
  e.preventDefault();
  globalSendCommand('read_data', $('#base_data_filename').val());
});

$("body").on('click', '#ip_fix_btn', function(e){
  e.preventDefault();
  globalSendCommand('ip_fix', $('#base_deviceid').val());
});


$("body").on('click', '#m3u_make_btn', function(e){
  e.preventDefault();
  globalSendCommand('m3u_make');
});

$("body").on('click', '#base_program_cmd_btn', function(e){
  e.preventDefault();
  globalSendCommand('program_run', 'local');
});

$("body").on('click', '#pro_scan_btn', function(e){
  e.preventDefault();
  globalSendCommand('program_run', 'scan');
});

$("body").on('click', '#pro_config_btn', function(e){
  e.preventDefault();
  globalSendCommand('program_run', 'config');
});


</script>    
{% endblock %}